
<div class="card col-3 m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Tododto.Title</h5>
    <p class="card-text">@Tododto.Description</p>
    <div class="cardbtm">
        <span>@Tododto.Priority</span>
        <br/>
        <span>@Tododto.Duration</span>
        <br>
        <span>@Tododto.CreatedAt</span>
    </div>
     <button @onclick="DeleteTodo" class="btn btn-danger">Delete</button>
    <button  @onclick = "(()=> EditTodo(Tododto))"class="btn btn-primary">Edit</button>

  </div>
</div>
@code{
    [Parameter]
    public TodoDto Tododto {get; set; } 

    [Parameter]
    public EventCallback<Guid> DeleteId {get; set;}
    [Parameter]
    public EventCallback<TodoDto> OnEditTodo{get; set; }

    public async Task DeleteTodo(){
      await DeleteId.InvokeAsync(Tododto.Id);
    }
    public async Task EditTodo(TodoDto editDto){
      await OnEditTodo.InvokeAsync(editDto);
    }

}